/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
// utils ==============================================
@import './utils/variables';
// base ===============================================

@import './base/common';
@import './base/container';
@import './base/footer';
// components =========================================
@import './components/body-main';
@import './components/modal';
@import './components/team-section';

// layout ==============================================
@import './layout/header';
@import './layout/pagination-block';
@import './layout/preloader';
@import './layout/library';
@import './layout/notFoundBlock';

@import './components/backdrop-team';
