/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import './utils/variables';
// base ===============================================
@import './base/common';
@import './base/container';
@import './base/footer';
// components =========================================
@import './components/body-main';

// utils ==============================================
@import './layout/header';
@import './layout/pagination-block';
