
$main-light-color: #ffffff;
$header-background: rgba(0, 0, 0, 0.56);
$main-dark-color: #000000;
$main-accent-color: #ff6b08;
$element-background-color: #f7f7f7;
$footer-text-color: #545454;
$notification-color: #ff001b;
$library-accent-color: #ff6b01;
$modal-title-color: #8c8c8c;
$backdrop-color: #818181;

$main-font-family: Roboto, sans-serif;

// Точки перелома.
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

