<div class="backdrop-team hidden js-team-modal">
  <div class="team-section">
    <a class="team-section__close-btn close-btn js-team-close">
      <span class="close-btn__icon"></span>
    </a>
    <div class="team-container">
      <h2 class="team-name">Blog Group 2</h2>

      <ul class="team-list">
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
        <li class="team-list__member team-member">
          <img src="./images/demo.jpg" alt="Name" class="team-member__photo" />

          <p class="team-member__name">Anton Ptashysnkyi</p>
          <p class="team-member__position">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
