.header {
  height: 230px;
  background-image: linear-gradient(to right, $header-background, $header-background),
    url(../images/mobile1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile2x.jpg);
  }

  @media screen and (min-width: 768px) {
    // max-width: 1023px;
    // padding-top: 40px;
    // padding-bottom: 60px;

    background-image: linear-gradient(to right, $header-background, $header-background),
      url(../images/tablet1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
      url(../images/desctop1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desctop2x.jpg);
    }
  }
}

.head {
  max-width: 767px;
  height: 230px;
  padding-top: 48px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    max-width: 1023px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1600px;
  }
}

.logo__text {
  @media screen and(max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: 768px) {
    margin-left: 12px;
    color: $main-light-color;
    font-size: 30px;
    line-height: 1.16;
  }
}

.logo {
  display: flex;
  align-items: baseline;
  margin-right: auto;
  margin-left: auto;
}

.logo__link {
  margin-right: auto;
  display: flex;
  align-items: baseline;
}

.nav__link {
  color: $main-light-color;
}

.nav {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  height: 17px;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:not(:last-child) {
  margin-right: 39px;
}

.nav__item:hover,
.nav__item:focus {
  cursor: pointer;

  transform: scale(1.5);
}

.nav__link__current {
  border-bottom: 3px solid #ff6b08;
}

.search-form {
  width: 100%;
  align-items: baseline;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 22px;

  @media screen and( min-width:768px) {
    width: 336px;
  }
}

.search-form__btn {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 6px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__icon {
  position: absolute;
  bottom: 6px;
  right: 0px;
}

.search-form__input {
  width: 100%;
  border: none;
  background-color: transparent;
  margin-top: 40px;
  border-bottom: 1px solid $main-light-color;
  color: $main-light-color;
  font-size: 14px;
  padding-bottom: 4px;
  padding-left: 1px;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $main-light-color;
}

.search-form__input:hover,
.search-form__input:focus {
  outline: none;
}

.error-message {
  display: block;
  text-align: left;
  visibility: hidden;

  font-family: $main-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  opacity: 0.9;
  color: $notification-color;

  transition: opacity 250ms ease-in-out;

  @media screen and( min-width:768px) {
    text-align: center;
  }
}

.is_hidden {
  visibility: hidden;
  opacity: 0;
}

.is_visible {
  visibility: visible;
  opacity: 0.9;
}
